In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in ./env/lib/python3.8/site-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in ./env/lib/python3.8/site-packages (from pyspark) (0.10.9.3)

In [2]:
import pyspark

In [3]:
import pandas as pd

In [4]:
pd.read_csv("dataset.csv")

  Name  Age
0  ABC   21
1  DEF   24
2  GHI   27
3  JKL   22

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

22/03/30 13:03:28 WARN Utils: Your hostname, BTCCHL0018 resolves to a loopback address: 127.0.1.1; using 192.168.0.233 instead (on interface wlp44s0)
22/03/30 13:03:28 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/stephenraj/spark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/03/30 13:03:28 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [7]:
spark

In [63]:
df_pyspark = spark.read.csv('dataset.csv')

In [9]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [10]:
df_pyspark.show()

+----+---+
| _c0|_c1|
+----+---+
|Name|Age|
| ABC| 21|
| DEF| 24|
| GHI| 27|
| JKL| 22|
+----+---+

In [11]:
spark.read.option('header','true').csv('dataset.csv')

DataFrame[Name: string, Age: string]

In [12]:
spark.read.option('header','true').csv('dataset.csv').show()

+----+---+
|Name|Age|
+----+---+
| ABC| 21|
| DEF| 24|
| GHI| 27|
| JKL| 22|
+----+---+

In [15]:
spark.read.option('header','true').csv('dataset.csv').show()
df_pyspark = spark.read.option('header','true').csv('dataset.csv')

+----+---+
|Name|Age|
+----+---+
| ABC| 21|
| DEF| 24|
| GHI| 27|
| JKL| 22|
+----+---+

In [16]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [17]:
df_pyspark.head()

Row(Name='ABC', Age='21')

In [19]:
df_pyspark.head(4)

[Row(Name='ABC', Age='21'),
 Row(Name='DEF', Age='24'),
 Row(Name='GHI', Age='27'),
 Row(Name='JKL', Age='22')]

In [21]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)

Updated CSV File and proceeding for dataFrame manipulations - Steps from the beginning

In [23]:
from pyspark.sql import SparkSession

In [27]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [28]:
spark

In [29]:
# Read the Dataset
spark.read.option('header', 'true').csv('dataset.csv')

DataFrame[Name: string, Age: string, Experience: string]

In [30]:
spark.read.option('header', 'true').csv('dataset.csv').show()

+----+---+----------+
|Name|Age|Experience|
+----+---+----------+
| ABC| 21|         2|
| DEF| 24|         4|
| GHI| 27|         6|
| JKL| 22|         3|
+----+---+----------+

In [33]:
df_pyspark = spark.read.option('header', 'true').csv('dataset.csv',inferSchema=True) #inferSchema - Used to detect datatypes of columns

In [34]:
# Check Schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [67]:
df_pyspark = spark.read.csv('dataset.csv', header = True, inferSchema = True)
df_pyspark.show()

+----+---+----------+
|Name|Age|Experience|
+----+---+----------+
| ABC| 21|         2|
| DEF| 24|         4|
| GHI| 27|         6|
| JKL| 22|         3|
+----+---+----------+

In [39]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [40]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [41]:
df_pyspark.columns

['Name', 'Age', 'Experience']

In [42]:
df_pyspark.head(4)

[Row(Name='ABC', Age=21, Experience=2),
 Row(Name='DEF', Age=24, Experience=4),
 Row(Name='GHI', Age=27, Experience=6),
 Row(Name='JKL', Age=22, Experience=3)]

In [43]:
df_pyspark.show()

+----+---+----------+
|Name|Age|Experience|
+----+---+----------+
| ABC| 21|         2|
| DEF| 24|         4|
| GHI| 27|         6|
| JKL| 22|         3|
+----+---+----------+

In [44]:
df_pyspark.select('Name')

DataFrame[Name: string]

In [45]:
df_pyspark.select('Name').show()

+----+
|Name|
+----+
| ABC|
| DEF|
| GHI|
| JKL|
+----+

In [46]:
type(df_pyspark.select('Name'))

pyspark.sql.dataframe.DataFrame

In [47]:
df_pyspark.select(['Name','Experience']).show()

+----+----------+
|Name|Experience|
+----+----------+
| ABC|         2|
| DEF|         4|
| GHI|         6|
| JKL|         3|
+----+----------+

In [49]:
df_pyspark['Name'] #Will not return the values (Only select has to be used)

Column<'Name'>

In [50]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [51]:
df_pyspark.describe()

DataFrame[summary: string, Name: string, Age: string, Experience: string]

In [52]:
df_pyspark.describe().show()

+-------+----+------------------+-----------------+
|summary|Name|               Age|       Experience|
+-------+----+------------------+-----------------+
|  count|   4|                 4|                4|
|   mean|null|              23.5|             3.75|
| stddev|null|2.6457513110645907|1.707825127659933|
|    min| ABC|                21|                2|
|    max| JKL|                27|                6|
+-------+----+------------------+-----------------+

In [55]:
# Adding Columns
df_pyspark.withColumn('Experience After 2 years', df_pyspark['Experience']+2) #withColumn - Used to manipulate with the column

DataFrame[Name: string, Age: int, Experience: int, Experience After 2 years: int]

In [56]:
df_pyspark.withColumn('Experience After 2 years', df_pyspark['Experience']+2).show()

+----+---+----------+------------------------+
|Name|Age|Experience|Experience After 2 years|
+----+---+----------+------------------------+
| ABC| 21|         2|                       4|
| DEF| 24|         4|                       6|
| GHI| 27|         6|                       8|
| JKL| 22|         3|                       5|
+----+---+----------+------------------------+

In [68]:
df_pyspark = df_pyspark.withColumn('Experience After 2 years', df_pyspark['Experience']+2)

In [69]:
df_pyspark.show()

+----+---+----------+------------------------+
|Name|Age|Experience|Experience After 2 years|
+----+---+----------+------------------------+
| ABC| 21|         2|                       4|
| DEF| 24|         4|                       6|
| GHI| 27|         6|                       8|
| JKL| 22|         3|                       5|
+----+---+----------+------------------------+

In [71]:
df_pyspark = df_pyspark.drop('Experience After 2 years')

In [72]:
df_pyspark.show()

+----+---+----------+
|Name|Age|Experience|
+----+---+----------+
| ABC| 21|         2|
| DEF| 24|         4|
| GHI| 27|         6|
| JKL| 22|         3|
+----+---+----------+