In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.8/dist-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in /usr/local/lib/python3.8/dist-packages (from pyspark) (0.10.9.3)

In [2]:
import pyspark

In [3]:
import pandas as pd

In [4]:
pd.read_csv("dataset.csv")

  Name  Age  Experience
0  ABC   21           2
1  DEF   24           4
2  GHI   27           6
3  JKL   22           3

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

22/03/31 11:05:02 WARN Utils: Your hostname, BTCCHL0018 resolves to a loopback address: 127.0.1.1; using 192.168.0.233 instead (on interface wlp44s0)
22/03/31 11:05:02 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/stephenraj/spark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/03/31 11:05:03 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [7]:
spark

In [8]:
df_pyspark = spark.read.csv('dataset.csv')

In [9]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string]

In [10]:
df_pyspark.show()

+----+---+----------+
| _c0|_c1|       _c2|
+----+---+----------+
|Name|Age|Experience|
| ABC| 21|         2|
| DEF| 24|         4|
| GHI| 27|         6|
| JKL| 22|         3|
+----+---+----------+

In [11]:
spark.read.option('header','true').csv('dataset.csv')

DataFrame[Name: string, Age: string, Experience: string]

In [12]:
spark.read.option('header','true').csv('dataset.csv').show()

+----+---+----------+
|Name|Age|Experience|
+----+---+----------+
| ABC| 21|         2|
| DEF| 24|         4|
| GHI| 27|         6|
| JKL| 22|         3|
+----+---+----------+

In [63]:
spark.read.option('header','true').csv('dataset.csv').show()
df_pyspark = spark.read.option('header','true').csv('dataset.csv')

+----+----+----------+------+
|Name| Age|Experience|Salary|
+----+----+----------+------+
| ABC|  21|         2| 30000|
| DEF|null|         4| 20000|
|null|  27|         6| 25000|
| JKL|  22|      null| 40000|
| MNO|  30|         8|  null|
+----+----+----------+------+

In [64]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [65]:
df_pyspark.head()

Row(Name='ABC', Age='21', Experience='2', Salary='30000')

In [66]:
df_pyspark.head(4)

[Row(Name='ABC', Age='21', Experience='2', Salary='30000'),
 Row(Name='DEF', Age=None, Experience='4', Salary='20000'),
 Row(Name=None, Age='27', Experience='6', Salary='25000'),
 Row(Name='JKL', Age='22', Experience=None, Salary='40000')]

In [67]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)

Updated CSV File and proceeding for dataFrame manipulations - Steps from the beginning

In [68]:
from pyspark.sql import SparkSession

In [69]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [70]:
spark

In [71]:
# Read the Dataset
spark.read.option('header', 'true').csv('dataset.csv')

DataFrame[Name: string, Age: string, Experience: string, Salary: string]

In [72]:
spark.read.option('header', 'true').csv('dataset.csv').show()

+----+----+----------+------+
|Name| Age|Experience|Salary|
+----+----+----------+------+
| ABC|  21|         2| 30000|
| DEF|null|         4| 20000|
|null|  27|         6| 25000|
| JKL|  22|      null| 40000|
| MNO|  30|         8|  null|
+----+----+----------+------+

In [73]:
df_pyspark = spark.read.option('header', 'true').csv('dataset.csv',inferSchema=True) #inferSchema - Used to detect datatypes of columns

In [74]:
# Check Schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [75]:
df_pyspark = spark.read.csv('dataset.csv', header = True, inferSchema = True)
df_pyspark.show()

+----+----+----------+------+
|Name| Age|Experience|Salary|
+----+----+----------+------+
| ABC|  21|         2| 30000|
| DEF|null|         4| 20000|
|null|  27|         6| 25000|
| JKL|  22|      null| 40000|
| MNO|  30|         8|  null|
+----+----+----------+------+

In [76]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [77]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [78]:
df_pyspark.columns

['Name', 'Age', 'Experience', 'Salary']

In [79]:
df_pyspark.head(4)

[Row(Name='ABC', Age=21, Experience=2, Salary=30000),
 Row(Name='DEF', Age=None, Experience=4, Salary=20000),
 Row(Name=None, Age=27, Experience=6, Salary=25000),
 Row(Name='JKL', Age=22, Experience=None, Salary=40000)]

In [80]:
df_pyspark.show()

+----+----+----------+------+
|Name| Age|Experience|Salary|
+----+----+----------+------+
| ABC|  21|         2| 30000|
| DEF|null|         4| 20000|
|null|  27|         6| 25000|
| JKL|  22|      null| 40000|
| MNO|  30|         8|  null|
+----+----+----------+------+

In [81]:
df_pyspark.select('Name')

DataFrame[Name: string]

In [82]:
df_pyspark.select('Name').show()

+----+
|Name|
+----+
| ABC|
| DEF|
|null|
| JKL|
| MNO|
+----+

In [83]:
type(df_pyspark.select('Name'))

pyspark.sql.dataframe.DataFrame

In [84]:
df_pyspark.select(['Name','Experience']).show()

+----+----------+
|Name|Experience|
+----+----------+
| ABC|         2|
| DEF|         4|
|null|         6|
| JKL|      null|
| MNO|         8|
+----+----------+

In [85]:
df_pyspark['Name'] #Will not return the values (Only select has to be used)

Column<'Name'>

In [86]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

In [87]:
df_pyspark.describe()

DataFrame[summary: string, Name: string, Age: string, Experience: string, Salary: string]

In [88]:
df_pyspark.describe().show()

+-------+----+-----------------+-----------------+-----------------+
|summary|Name|              Age|       Experience|           Salary|
+-------+----+-----------------+-----------------+-----------------+
|  count|   4|                4|                4|                4|
|   mean|null|             25.0|              5.0|          28750.0|
| stddev|null|4.242640687119286|2.581988897471611|8539.125638299665|
|    min| ABC|               21|                2|            20000|
|    max| MNO|               30|                8|            40000|
+-------+----+-----------------+-----------------+-----------------+

In [89]:
# Adding Columns
df_pyspark.withColumn('Experience After 2 years', df_pyspark['Experience']+2) #withColumn - Used to manipulate with the column

DataFrame[Name: string, Age: int, Experience: int, Salary: int, Experience After 2 years: int]

In [90]:
df_pyspark.withColumn('Experience After 2 years', df_pyspark['Experience']+2).show()

+----+----+----------+------+------------------------+
|Name| Age|Experience|Salary|Experience After 2 years|
+----+----+----------+------+------------------------+
| ABC|  21|         2| 30000|                       4|
| DEF|null|         4| 20000|                       6|
|null|  27|         6| 25000|                       8|
| JKL|  22|      null| 40000|                    null|
| MNO|  30|         8|  null|                      10|
+----+----+----------+------+------------------------+

In [91]:
df_pyspark = df_pyspark.withColumn('Experience After 2 years', df_pyspark['Experience']+2)

In [92]:
df_pyspark.show()

+----+----+----------+------+------------------------+
|Name| Age|Experience|Salary|Experience After 2 years|
+----+----+----------+------+------------------------+
| ABC|  21|         2| 30000|                       4|
| DEF|null|         4| 20000|                       6|
|null|  27|         6| 25000|                       8|
| JKL|  22|      null| 40000|                    null|
| MNO|  30|         8|  null|                      10|
+----+----+----------+------+------------------------+

In [93]:
df_pyspark = df_pyspark.drop('Experience After 2 years')

In [94]:
df_pyspark.show()

+----+----+----------+------+
|Name| Age|Experience|Salary|
+----+----+----------+------+
| ABC|  21|         2| 30000|
| DEF|null|         4| 20000|
|null|  27|         6| 25000|
| JKL|  22|      null| 40000|
| MNO|  30|         8|  null|
+----+----+----------+------+

In [95]:
# Rename column
df_pyspark.withColumnRenamed('Name', 'New Name').show()

+--------+----+----------+------+
|New Name| Age|Experience|Salary|
+--------+----+----------+------+
|     ABC|  21|         2| 30000|
|     DEF|null|         4| 20000|
|    null|  27|         6| 25000|
|     JKL|  22|      null| 40000|
|     MNO|  30|         8|  null|
+--------+----+----------+------+

In [96]:
# Handing Missing Values
spark.read.csv('dataset.csv', header = True, inferSchema=True).show()

+----+----+----------+------+
|Name| Age|Experience|Salary|
+----+----+----------+------+
| ABC|  21|         2| 30000|
| DEF|null|         4| 20000|
|null|  27|         6| 25000|
| JKL|  22|      null| 40000|
| MNO|  30|         8|  null|
+----+----+----------+------+

In [130]:
df_pyspark = spark.read.csv('dataset.csv', header = True, inferSchema=True)

In [131]:
#Drop columns
df_pyspark.drop('Name').show()

+----+----------+------+
| Age|Experience|Salary|
+----+----------+------+
|  21|         2| 30000|
|null|         4| 20000|
|  27|         6| 25000|
|  22|      null| 40000|
|  30|         8|  null|
+----+----------+------+

In [132]:
df_pyspark.show()

+----+----+----------+------+
|Name| Age|Experience|Salary|
+----+----+----------+------+
| ABC|  21|         2| 30000|
| DEF|null|         4| 20000|
|null|  27|         6| 25000|
| JKL|  22|      null| 40000|
| MNO|  30|         8|  null|
+----+----+----------+------+

In [133]:
#Removes all rows which have null values
df_pyspark.na.drop().show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
| ABC| 21|         2| 30000|
+----+---+----------+------+

In [134]:
#all - if the entire row is null, any - if any record of the row is null
df_pyspark.na.drop(how="all").show()

+----+----+----------+------+
|Name| Age|Experience|Salary|
+----+----+----------+------+
| ABC|  21|         2| 30000|
| DEF|null|         4| 20000|
|null|  27|         6| 25000|
| JKL|  22|      null| 40000|
| MNO|  30|         8|  null|
+----+----+----------+------+

In [135]:
#Threshold - Atleast n non-null values must be there
df_pyspark.na.drop(how="any", thresh = 4).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
| ABC| 21|         2| 30000|
+----+---+----------+------+

In [136]:
# Subset - Delete rows with null values from a particular column
df_pyspark.na.drop(how="any",subset=["Experience"]).show()

+----+----+----------+------+
|Name| Age|Experience|Salary|
+----+----+----------+------+
| ABC|  21|         2| 30000|
| DEF|null|         4| 20000|
|null|  27|         6| 25000|
| MNO|  30|         8|  null|
+----+----+----------+------+

In [138]:
# To change Integer columns
df_pyspark.na.fill(subset=['Experience', 'Salary', 'Age'], value = 0).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
| ABC| 21|         2| 30000|
| DEF|  0|         4| 20000|
|null| 27|         6| 25000|
| JKL| 22|         0| 40000|
| MNO| 30|         8|     0|
+----+---+----------+------+

In [140]:
df_pyspark.na.fill("No Name given").show()

+-------------+----+----------+------+
|         Name| Age|Experience|Salary|
+-------------+----+----------+------+
|          ABC|  21|         2| 30000|
|          DEF|null|         4| 20000|
|No Name given|  27|         6| 25000|
|          JKL|  22|      null| 40000|
|          MNO|  30|         8|  null|
+-------------+----+----------+------+

In [142]:
df_pyspark.show()

+----+----+----------+------+
|Name| Age|Experience|Salary|
+----+----+----------+------+
| ABC|  21|         2| 30000|
| DEF|null|         4| 20000|
|null|  27|         6| 25000|
| JKL|  22|      null| 40000|
| MNO|  30|         8|  null|
+----+----+----------+------+

In [147]:
# Imputer - Used to change the missing values with the mean or any metrics 

from pyspark.ml.feature import Imputer

li = ['Age', 'Experience', 'Salary']

imputer = Imputer(
    inputCols = li,
    outputCols = ["{}_imputed".format(c) for c in li]
).setStrategy('mean')

In [151]:
#Adds imputed columns to the existing df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+----+----+----------+------+-----------+------------------+--------------+
|Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+----+----+----------+------+-----------+------------------+--------------+
| ABC|  21|         2| 30000|         21|                 2|         30000|
| DEF|null|         4| 20000|         25|                 4|         20000|
|null|  27|         6| 25000|         27|                 6|         25000|
| JKL|  22|      null| 40000|         22|                 5|         40000|
| MNO|  30|         8|  null|         30|                 8|         28750|
+----+----+----------+------+-----------+------------------+--------------+

FILTER OPERATION 



note - removed null values from the previous dataset used

In [153]:
#Create Session if not created before
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('dataframe-filter').getOrCreate()

In [154]:
df_pyspark = spark.read.csv('dataset.csv', header=True, inferSchema=True)
df_pyspark.show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
| ABC| 21|         2| 30000|
| DEF| 24|         4| 20000|
| GHI| 27|         6| 25000|
| JKL| 22|         1| 40000|
| MNO| 30|         8| 60000|
+----+---+----------+------+

In [156]:
#Salary <= 30000
df_pyspark.filter("Salary<=30000").show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
| ABC| 21|         2| 30000|
| DEF| 24|         4| 20000|
| GHI| 27|         6| 25000|
+----+---+----------+------+

In [157]:
df_pyspark.filter('Salary<=30000').select(['Name','Age']).show()

+----+---+
|Name|Age|
+----+---+
| ABC| 21|
| DEF| 24|
| GHI| 27|
+----+---+

In [161]:
df_pyspark.filter(df_pyspark['Salary']<=30000).show() #Alternate

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
| ABC| 21|         2| 30000|
| DEF| 24|         4| 20000|
| GHI| 27|         6| 25000|
+----+---+----------+------+

In [165]:
#AND operation
df_pyspark.filter((df_pyspark['Salary']<=30000) & 
                  (df_pyspark['Salary']>=20000)).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
| ABC| 21|         2| 30000|
| DEF| 24|         4| 20000|
| GHI| 27|         6| 25000|
+----+---+----------+------+

In [166]:
#OR operation
df_pyspark.filter((df_pyspark['Salary']<=30000) | 
                  (df_pyspark['Salary']>=20000)).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
| ABC| 21|         2| 30000|
| DEF| 24|         4| 20000|
| GHI| 27|         6| 25000|
| JKL| 22|         1| 40000|
| MNO| 30|         8| 60000|
+----+---+----------+------+

In [170]:
#NOT operation
df_pyspark.filter(~(df_pyspark['Salary']>=30000)).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
| DEF| 24|         4| 20000|
| GHI| 27|         6| 25000|
+----+---+----------+------+

GROUPBY AND AGGREGATE FUNCTION

In [171]:
df_pyspark = df_pyspark.withColumn('More_Experienced', df_pyspark['Experience']>3)

In [172]:
df_pyspark.show()

+----+---+----------+------+----------------+
|Name|Age|Experience|Salary|More_Experienced|
+----+---+----------+------+----------------+
| ABC| 21|         2| 30000|           false|
| DEF| 24|         4| 20000|            true|
| GHI| 27|         6| 25000|            true|
| JKL| 22|         1| 40000|           false|
| MNO| 30|         8| 60000|            true|
+----+---+----------+------+----------------+

In [173]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- More_Experienced: boolean (nullable = true)

In [174]:
df_pyspark.groupBy('Name')

In [175]:
df_pyspark.groupBy('Name').sum()

DataFrame[Name: string, sum(Age): bigint, sum(Experience): bigint, sum(Salary): bigint]

In [178]:
df_pyspark.groupBy('More_Experienced').sum().show()

+----------------+--------+---------------+-----------+
|More_Experienced|sum(Age)|sum(Experience)|sum(Salary)|
+----------------+--------+---------------+-----------+
|            true|      24|              4|      20000|
|           false|      90|              8|     155000|
+----------------+--------+---------------+-----------+

In [179]:
df_pyspark.groupBy('More_Experienced').mean().show()

+----------------+--------+---------------+-----------+
|More_Experienced|avg(Age)|avg(Experience)|avg(Salary)|
+----------------+--------+---------------+-----------+
|            true|    24.0|            4.0|    20000.0|
|           false|    22.5|            2.0|    38750.0|
+----------------+--------+---------------+-----------+

In [180]:
df_pyspark.groupBy('More_Experienced').count().show()

+----------------+-----+
|More_Experienced|count|
+----------------+-----+
|            true|    1|
|           false|    4|
+----------------+-----+

In [181]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|     175000|
+-----------+

In [188]:
df_pyspark.agg({'Salary':'max'}).show()

+-----------+
|max(Salary)|
+-----------+
|      60000|
+-----------+

MLLIB

In [227]:
training = spark.read.csv('dataset.csv', header=True, inferSchema=True)

In [228]:
from pyspark.ml.feature import VectorAssembler # Used to join 2 columns to a new feature and consider it an independent feature

In [229]:
featureAssembler = VectorAssembler(inputCols=["Age", "Experience"], outputCol= "AgewithExperience")

In [230]:
output = featureAssembler.transform(training)

In [231]:
output.show()

+----+---+----------+------+-----------------+
|Name|Age|Experience|Salary|AgewithExperience|
+----+---+----------+------+-----------------+
| ABC| 21|         2| 30000|       [21.0,2.0]|
| DEF| 24|         4| 40000|       [24.0,4.0]|
| GHI| 27|         6| 50000|       [27.0,6.0]|
| JKL| 22|         1| 25000|       [22.0,1.0]|
| MNO| 30|         8| 60000|       [30.0,8.0]|
+----+---+----------+------+-----------------+

In [232]:
output.columns

['Name', 'Age', 'Experience', 'Salary', 'AgewithExperience']

In [233]:
finalized_data = output.select("AgewithExperience","Salary")

In [234]:
finalized_data.show()

+-----------------+------+
|AgewithExperience|Salary|
+-----------------+------+
|       [21.0,2.0]| 30000|
|       [24.0,4.0]| 40000|
|       [27.0,6.0]| 50000|
|       [22.0,1.0]| 25000|
|       [30.0,8.0]| 60000|
+-----------------+------+

Algorithm

In [235]:
from pyspark.ml.regression import LinearRegression
train_data, test_data = finalized_data.randomSplit([0.75,0.25]) #train_test_split
regressor = LinearRegression(featuresCol="AgewithExperience", labelCol='Salary')
regressor = regressor.fit(train_data)

22/03/31 13:13:36 WARN Instrumentation: [ea5a7788] regParam is zero, which might cause numerical instability and overfitting.

In [236]:
regressor.coefficients

DenseVector([-0.0, 5000.0])

In [237]:
regressor.intercept

20000.00000001955

In [238]:
pred_results = regressor.evaluate(test_data)

In [240]:
pred_results.predictions.show()

+-----------------+------+-----------------+
|AgewithExperience|Salary|       prediction|
+-----------------+------+-----------------+
|       [21.0,2.0]| 30000|30000.00000000187|
|       [24.0,4.0]| 40000|40000.00000000115|
+-----------------+------+-----------------+

In [241]:
pred_results.meanAbsoluteError,pred_results.meanSquaredError

(1.5097612049430609e-09, 2.409094050889239e-18)